@media screen and (max-width: 904px) {
    #top-bar.dark {
        background-image: url('../../../images/logos/logobright.svg');
        background-color: #2a2831;
    }
    
    .navigation-menu.dark {
        background: linear-gradient(0deg, rgba(208, 188, 255, 0.05), rgba(208, 188, 255, 0.05)), #1C1B1F;
    }
    
    .title.dark {
        background-image: url('../../../images/icons/iconbright.svg');
    }
    
    .left.dark {
        color: #CAC4D0;
    }
    
    .state-layer.dark {
        color: #CAC4D0;
    }
    
    .state-layer.dark:hover {
        background-color: rgba(230, 225, 229, 0.08);
        color: #E6E1E5;
    }
    
    .state-layer.dark:focus {
        background-color: rgba(230, 225, 229, 0.12);
        color: #E6E1E5;
    }
    
    .state-layer.dark:active {
        background-color: rgba(230, 225, 229, 0.12);
    }
    
    .state-layer.active.dark {
        background-color: #4A4458;
        color: #E8DEF8;
    }
    
    .state-layer.active.dark:hover {
        background-color: rgba(232, 222, 248, 0.08);
    }
    
    .state-layer.active.dark:focus {
        background-color: rgba(232, 222, 248, 0.12);
    }
    
    .state-layer.active.dark:active {
        background-color: rgba(232, 222, 248, 0.12);
    }
    
    .divider.dark {
        border: 1px solid #49454F;
    }
    
}